<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/compreja2.css">
    <script src="js/bootstrap.js" defer></script>

</head>
<nav class="navbar navbar-expand-lg bg-cor-1" id="navbar">
        <div class="container">
            <a href="../index.html" class="navbar-brand cor-clara">Bruno Lanches</a>
        <!--      <img src="img/brunolanches.jpeg"  -->
            <div id="navbar-itens">
                   <!--  <form class="d-flex" id="form-pesquisa">
                        <i class="bi bi-search cor-clara"></i>
                        <input type="search" class="form-control ms-3" name="search" id="search" placeholder="Busque aqui...">
                        <button class="btn bg-cor-2" type="submit">Pesquisar!</button>
                    </form> -->
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a href="https://www.instagram.com/lanches.bruno/" class="nav-link cor-clara">
                                Instagram
                                <i class="bi bi-instagram"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.facebook.com/profile.php?id=100071031873172" class="nav-link cor-clara">
                                Facebook
                                <i class="bi bi-facebook"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.tiktok.com/@.bruno.lanches?_t=8nTTgtISUsQ&_r=1" class="nav-link cor-clara">
                                TikTok
                                <i class="bi bi-tiktok"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>    

<h2>Bebidas</h2>
<div id="form-check">
<!--     <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Coca Cola.</label>
<ul>
    <li>lata R$ 6,00</li>
    <li>600 ML R$ 8,00</li>
    <li>2 Litros R$ 14,00</li>
</ul>
       


<div id="form-check">
<!--     <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Coca Cola Zero.</label>
<ul>
    <li>lata R$ 6,00</li>
    <li>600 ML R$ 8,00</li>
    <li>2 Litros R$ 14,00</li>
</ul>



<div id="form-check">
 <!--    <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Fanta Laranja.</label>
<ul>
    <li>lata R$ 6,00</li>
    <li>600 ML R$ 8,00</li>
    <li>2 Litros R$ 11,00</li>
</ul>



<div id="form-check">
   <!--  <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Fanta Uva.</label>
<ul>
    <li>lata R$ 6,00</li>
    <li>600 ML R$ 8,00</li>
    <li>2 Litros R$ 11,00</li>
</ul>



<div id="form-check">
 <!--    <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Sprite.</label>
<ul>
    <li>lata R$ 6,00</li>
    <li>600 ML R$ 8,00</li>
    <li>2 Litros R$ 11,00</li>
</ul>



<div id="form-check">
  <!--   <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Sucos.</label>
<ul>
    <li>500 ML R$ 8,00</li>
    <li>1 Litro R$ 15,00</li>
</ul>




<div id="form-check">
<!--     <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Suco dois sabores.</label>
<ul>
    <li>R$ 19,00</li>
</ul>



<div id="form-check">
   <!--  <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Suco com leite.</label>
<ul>
    <li>Sabores: Morango, Maracujá, Laranja, Caju, Manga, Goiaba, Uva, Limão, Acerola, Pêssego e Abacaxi com Hortelã.</li>
    <li>R$ 17,00</li>
</ul>



<div id="form-check">
 <!--    <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Cerveja lata.</label>
<ul>
    <li>R$ Consultar.</li>
</ul