<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/compreja5.css">
    <script src="js/bootstrap.js" defer></script>
</head>
<nav class="navbar navbar-expand-lg bg-cor-1" id="navbar">
        <div class="container">
            <a href="../index.html" class="navbar-brand cor-clara">Bruno Lanches</a>
        <!--      <img src="img/brunolanches.jpeg"  -->
            <div id="navbar-itens">
                   <!--  <form class="d-flex" id="form-pesquisa">
                        <i class="bi bi-search cor-clara"></i>
                        <input type="search" class="form-control ms-3" name="search" id="search" placeholder="Busque aqui...">
                        <button class="btn bg-cor-2" type="submit">Pesquisar!</button>
                    </form> -->
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a href="https://www.instagram.com/lanches.bruno/" class="nav-link cor-clara">
                                Instagram
                                <i class="bi bi-instagram"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.facebook.com/profile.php?id=100071031873172" class="nav-link cor-clara">
                                Facebook
                                <i class="bi bi-facebook"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.tiktok.com/@.bruno.lanches?_t=8nTTgtISUsQ&_r=1" class="nav-link cor-clara">
                                TikTok
                                <i class="bi bi-tiktok"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>    

<h2>Omeletes</h2>
    <div id="form-check">
   <!--  <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Frango com Catupiry</label>
    <ul>
        <li>R$ 22,50</li> 
    </ul>



    <div id="form-check">
      <!--   <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox"> Muçarela Apresuntado, e Tomate.</label>
    <ul>
        <li>R$ 22,50</li> 
    </ul>    



     <div id="form-check"></div>
  <!--       <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Brócolis com Bacon</label>
    <ul>
        <li>R$ 23,50</li> 
    </ul>



    <div id="form-check">
       <!--  <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Calabresa.</label>
    <ul>
        <li>R$ 22,50</li>
    </ul>    



    <div id="form-check">
       <!--  <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Calabresa com Bacon.</label>
    <ul>
        <li>R$ 24,00</li> 
    </ul>
    