<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/compreja.css">
    <script src="js/bootstrap.js" defer></script>
    <title>Bruno Lanches</title>
</head>
 
   <nav class="navbar navbar-expand-lg bg-cor-1" id="navbar">
        <div class="container">
            <a href="../index.html" class="navbar-brand cor-clara">Bruno Lanches</a>
        <!--      <img src="img/brunolanches.jpeg"  -->
            <div id="navbar-itens">
                   <!--  <form class="d-flex" id="form-pesquisa">
                        <i class="bi bi-search cor-clara"></i>
                        <input type="search" class="form-control ms-3" name="search" id="search" placeholder="Busque aqui...">
                        <button class="btn bg-cor-2" type="submit">Pesquisar!</button>
                    </form> -->
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a href="https://www.instagram.com/lanches.bruno/" class="nav-link cor-clara">
                                Instagram
                                <i class="bi bi-instagram"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.facebook.com/profile.php?id=100071031873172" class="nav-link cor-clara">
                                Facebook
                                <i class="bi bi-facebook"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.tiktok.com/@.bruno.lanches?_t=8nTTgtISUsQ&_r=1" class="nav-link cor-clara">
                                TikTok
                                <i class="bi bi-tiktok"></i>
                            </a>
                        </li>         
                    </ul>
                </div>
            </div>
        </nav>    
    
<section id="Lanches">
    <h2>Lanches</h2>
    <div id="form-check">
       <!--  <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">VEGETARIANO.</label>
    <ul>    
        <p>Acompanhamento:  Hambúrguer de vegetariano, Muçarela, Catupiry, Alface, Tomate e Milho.</p>
        <li>R$ 22,00</li> 
    </ul>    



    <div id="form-check">
     <!--    <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">X Burguer.</label>
    <ul>
        <p>Acompanhamento:  Hambúrguer, Apresuntado, Muçarela, Tomate e Milho.</p>
        <li>R$ 15,00</li> 
    </ul>    



    <div id="form-check">
       <!--  <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">X Salada.</label>
    <ul>
        <p>Acompanhamento:  Hambúrguer, Apresuntado, Muçarela ,Alface, Tomate e Milho.</p>
        <li>R$ 17,00</li>
    </ul>



    <div id="form-check">
        <!-- <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">X Saladão.</label>
    <ul>
        <p>Acompanhamento:  Hambúrguer, Apresuntado, Muçarela, Alface, Tomate, Milho, Batata palha e Catupiry scala.</p>
        <li>R$ 20,00</li>
    </ul>



    <div id="form-check">
     <!--    <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">X Egg.</label>
    <ul>
        <p>Acompanhamento: Hambúrguer, Presunto, Muçarela, Ovo, Tomate, Milho e Alface.</p>
        <li>R$ 18,00</li> 
    </ul>



    <div id="form-check">
      <!--   <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">X Bacon.</label>
    <ul>
        <p>Acompanhamento:  Hambúrguer, Apresuntado, Muçarela, Bacon, Alface e Tomate.</p>
        <li>R$ 24,00</li>
    </ul>



    <div id="form-check">
       <!--  <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">X Calabresa.</label>
    <ul>
        <p>Acompanhamento: Hambúrguer, Apresuntado, Muçarela, Calabresa, Alface, Tomate e Milho.</p>
        <li>R$ 21,00</li>
    </ul>



    <div id="form-check">
        <!-- <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Americano.</label>
    <ul>
        <p>Acompanhamento: Apresuntado, Muçarela, Ovo, Alface, Tomate e Orégano.</p>
        <li>R$ 16,50</li> 
    </ul>



    <div id="form-check">
     <!--    <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Misto Quente.</label>
    <ul>
        <p>Acompanhamento: Apresuntado, Muçarela, Tomate e Orégano.</p>
        <li>R$ 14,50</li>     
    </ul>    
  


     <div id="form-check">
      <!--   <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">X Tudo.</label>
    <ul>
        <p>Acompanhamento: Hambúrguer, Apresuntado, Muçarela, Bacon, Ovo, Calabresa, Alface, Tomate e Milho.</p>
        <li>R$ 29,00</li>
    </ul>
    


    
    <div id="form-check">
<!--         <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">X Frango.</label>
    <ul>
        <p>Acompanhamento: Filé de Frango, Apresuntado, Muçarela, Catupiry scala, Alface, Tomate e Milho.</p>
        <li>R$ 21,00</li> 
    </ul>



    <div id="form-check">
       <!--  <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">X Frango Tudo.</label>
    <ul>
        <p>Acompanhamento: Filé de Frango, Apresuntado, Muçarela, Bacon, Calabresa, Ovo, Catupiry scala, Milho, Alface e Tomate.</p>
        <li>R$ 31,50</li>
    </ul>
  


    <div id="form-check">
     <!--    <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Combo Kids.</label>
    <ul>
        <p>Acompanhamento: Pão, Hambúrguer e queijo, Batata frita, Suco ou Coca Cola e um Brinquedo. 
        * brinde notificar se menino ou menina *.</p>
        <li>R$ 24,00</li>  
    </ul> 



    <div id="form-check">
      <!--   <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Churrasco Contra filé.</label>
    <ul>
        <p>Contra Filé, Queijo Prato, tomate e cebola.</p>
        <li>R$ 25,00</li>   
    </ul>



    <div id="form-check">
     <!--    <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Churrasco de Lombo.</label>
    <ul>
        <p>Acompanhamento:  Lombo, Tomate, Queijo Prato e Cebola.</p> 
        <li>R$ 23,00</li> 
    </ul>



    <div id="form-check">
      <!--   <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Contra Tudo.</label>
        <ul>
            <p>Contra filé, Apresuntado, Muçarela, Bacon, Calabresa, Ovo, Milho, Alface e Tomate.</p>
            <li>R$ 34,00</li>
        </ul> 



    <div id="form-check">
       <!--  <input name="checkbox" type="checkbox" class="form-check-input"> --><label for="checkbox">Lombo Tudo.</label>
    <ul>
        <p>Acompanhamento: Lombo, Presunto, Muçarela, Bacon, Ovo, Calabresa. Alface, Tomate e Milho.</p>
        <li>R$ 31,50</li>    
    </ul>    
    

